<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268371908980-ev0j8lb17fn52ncai1u1h1k7quertrj5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268371908980-ev0j8lb17fn52ncai1u1h1k7quertrj5</string>
	<key>API_KEY</key>
	<string>AIzaSyC_I-_l-LDBtWyqJPn6WJReAXiPHdPJVKk</string>
	<key>GCM_SENDER_ID</key>
	<string>268371908980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tororo.ohashi.sns-sample</string>
	<key>PROJECT_ID</key>
	<string>sns-sample-c6253</string>
	<key>STORAGE_BUCKET</key>
	<string>sns-sample-c6253.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268371908980:ios:31db0acf218bd23e697421</string>
</dict>
</plist>